---
http_interactions:
- request:
    method: post
    uri: https://app.blesseveryhome.com:1978/
    body:
      encoding: UTF-8
      string: '{"p":{"t":"prayCareShare","hash":"44003280ebd3a2","level":"l"},"r":{"id":440032,"type":"light"},"t":"stats_globalDashboardStatUpdate"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
      x-length:
      - '79'
    body:
      encoding: UTF-8
      string: '{"s":true,"e":null,"n":null,"p":[[1,1713233990],[0,1713233990],[0,1713233990]]}'
  recorded_at: Tue, 16 Apr 2024 02:19:50 GMT
- request:
    method: post
    uri: https://app.blesseveryhome.com:1978/
    body:
      encoding: UTF-8
      string: '{"p":{"t":"adoptedDiscipled","hash":"44003280ebd3a2","level":"l"},"r":{"id":440032,"type":"light"},"t":"stats_globalDashboardStatUpdate"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
      x-length:
      - '65'
    body:
      encoding: UTF-8
      string: '{"s":true,"e":null,"n":null,"p":[[40,1713233991],[0,1713233991]]}'
  recorded_at: Tue, 16 Apr 2024 02:19:51 GMT
recorded_with: VCR 6.2.0
