---
http_interactions:
- request:
    method: post
    uri: https://app.blesseveryhome.com:1978/
    body:
      encoding: UTF-8
      string: '{"t":"prayerListItem_neighborhoodListGetDetails","p":{"prayerListItemId":10978278},"r":{"id":440032,"type":"light"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
      x-length:
      - '232'
    body:
      encoding: UTF-8
      string: '{"s":true,"e":null,"n":null,"p":{"showiprayedforyoucutandpastemessage":0,"iprayedforyoucutandpastemessage":null,"curPrayReq":null,"email":null,"phone":null,"label":"DANIEL
        AND RACHEL BURROWS","address":"11639 W 74TH","zip":"80005"}}'
  recorded_at: Sat, 06 Apr 2024 19:15:27 GMT
recorded_with: VCR 6.2.0
