---
http_interactions:
- request:
    method: post
    uri: https://app.blesseveryhome.com:1978/
    body:
      encoding: UTF-8
      string: '{"t":"prayerList_neighborhoodListGetForMap","p":{},"r":{"id":440032,"type":"light"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
      x-length:
      - '6704'
    body:
      encoding: UTF-8
      string: '{"s":true,"e":null,"n":null,"p":{"member":{"lat":39.8321567,"lng":-105.1294132,"quality":null},"prayers":[{"state":"CO","plID":10978278,"s1":0,"s2":0,"s3":0,"s4":0,"lat":39.83215714,"lng":-105.12944794,"daily":0,"aID":13858795,"bX":39.83215714,"bY":-105.12944794,"bQ":2},{"state":"CO","plID":10978279,"s1":0,"s2":0,"s3":0,"s4":0,"lat":39.83218002,"lng":-105.12915039,"daily":0,"aID":13858793,"bX":39.83218002,"bY":-105.12915039,"bQ":2},{"state":"CO","plID":10978280,"s1":0,"s2":0,"s3":0,"s4":0,"lat":39.83243942,"lng":-105.12944794,"daily":0,"aID":13858953,"bX":39.83243942,"bY":-105.12944794,"bQ":2},{"state":"CO","plID":10978281,"s1":0,"s2":0,"s3":0,"s4":0,"lat":39.83243942,"lng":-105.12915039,"daily":0,"aID":13858924,"bX":39.83243942,"bY":-105.12915039,"bQ":2},{"[...]
[...]
